body {
    font-family: karla, sans-serif;
    padding-top: 91px;
    padding-bottom:80px;
    border-radius: 0px !important;
}
.dropdown-menu {
  padding: 10px;
    min-width: 230px;
}
.input-group-addon {
    color: white;
    background-color: #333;
    border-radius: 0px;
    border: 2px solid black;
}
a:hover{
    cursor: pointer;
}

/************************/
/*******animation********/
/************************/

.ui-view-container {
    position: relative;
    height: 65px;
    display: block;
}
[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

/*[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}*/
[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    -webkit-transform:translate3d(100px, 0, 0);
    -moz-transform:translate3d(100px, 0, 0);
    transform:translate3d(100px, 0, 0);
}
.blog-menu {
    list-style: none;
}
.blog-menu li {
    margin-top: 10px;
}
.blog-comment {
    margin: 30px 10px;
}
/************************/
/*******buttons**********/
/************************/

.btn {
    border-radius: 0px;
    margin: 5px;
}

.btn-primary {
    background-color: rgb(23,55,94);
    border-color: rgb(23,55,94);
}

.btn-primary:hover {
    background-color: white;
    color: rgb(23,55,94);
    border-color: rgb(23,55,94);
}
.navbar {
    border-radius: 0px !important;
    margin-bottom: 0px;
    font-size: 1.25em;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    padding: 20px 50px;
}
.navbar-brand {
    margin-top: -28px;
}


.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

#img-container {
    position:relative;
    display:inline-block;
    text-align:center;
    border:0px solid red;

    /* background:url('http://jsfiddle.net/img/initializing.png') no-repeat;
    width:186px;
    height:157px;*/
}

.floater {
    position:absolute;
    top:35%;
    left:10px;
    right:10px;
    width:auto;
    height:30px;
    text-align: center;
    margin: 0 auto;
    max-width: 880px;
    box-sizing: border-box;
    display: block;
    color: white;

}

.floater .button {
    border: 2px solid white;
    font-size: large;
    padding: 10px;
    margin: 20px;
    color: white;
}

.floater .button:hover {
    color: black;
    background-color: white;
}

.floater a:hover {
    text-decoration: none;
}

.floater h1 {
    margin-bottom: 40px;
}

.form-control {
    border-color: black;
    border-radius: 0px;
}

.black-box {
    border: 2px solid black;
    padding: 10px;
    margin: 50px auto;
}

.black-box h1{
    padding: 0px;
}

/************************/
/*******resume**********/
/************************/

#resume h3 {
    padding-left: 10px;
}

#resume h4 {
    padding-left: 20px;
}

#resume p {
    padding-left: 30px;
}

#resume .panel-primary {
    border-color: #17375E;
    border-radius: 0px;
    width: 100%;
}
#resume .panel-primary p{
    padding-left:0px;
}

#resume .panel-primary .panel-heading {
    background-color: #17375E;
    border-radius: 0px;

}

.equal, .equal > div[class*='col-'] {
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}
.top-buffer-10 {
     margin-top: 10px;
 }
.top-buffer-20 {
    margin-top: 20px;
}
.top-buffer-30 {
    margin-top: 30px;
}
.top-buffer-40 {
    margin-top: 40px;
}
.top-buffer-50 {
    margin-top: 50px;
}

.project {
    background-color: #eee;
    margin: 5px;
    padding: 5px;
}