<html>
<head>
	<title>Sanford Consulting</title>
    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
    <link href='font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>


    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="angular-toastr/dist/angular-toastr.css">
    <link rel="stylesheet" type="text/css" href="main.css">

    <!--Icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icon/favicon-16x16.png">
    <link rel="manifest" href="icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body ng-app="mainApp" ng-controller="mainController">

    <div class="container-fluid">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="containter-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <!--<img class="img-responsive" src="icon/apple-icon-72x72.png" alt="">-->
                        <span><img class="img-responsive" src="images/Logo-blue-82x75.png" alt=""></span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="main-nav">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a ui-sref="home">Home</a></li>
                        <li><a ui-sref="about">About</a></li>
                        <li><a ui-sref="contact">Contact</a></li>
                        <li><a ui-sref="engage">Engage</a></li>
                        <li><a ui-sref="blog">Blog</a></li>
                        <li><a ui-sref="users">Users</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{dropdownmessage}}&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu" >
                                <li ng-hide="loggedin">
                                    <form ng-submit="login()">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                <input class="form-control" ng-model="username" type="text" id="username" placeholder="Username">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-asterisk "></i></div>
                                                <input class="form-control" ng-model="password" type="password" id="password" placeholder="Password">
                                            </div>
                                        </div>
                                        <div ng-show="signupMode" class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-asterisk "></i></div>
                                                <input class="form-control" ng-model="confirmPassword" type="password" id="confirmPassword" placeholder="Confirm Password">
                                            </div>
                                        </div>
                                        <a ng-show="signupMode" ng-click="signupMode = false">Log in</a>
                                        <a ng-hide="signupMode" ng-click="signupMode = true">Sign up</a>
                                        <button ng-hide="signupMode" type="submit" class="btn btn-primary pull-right">Login</button>
                                        <button ng-show="signupMode" ng-click="signup()" class="btn btn-primary pull-right">Sign up</button>
                                    </form>
                                </li>
                                <li ng-show="loggedin">
                                    <a ng-click="logout()">Logout</a>
                                </li>
                                <li ng-show="loggedin">
                                    <a ui-sref="account">Account</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="ui-view-container">
            <div ui-view></div>
        </div>

        <div class="navbar navbar-default navbar-fixed-bottom ">
            <div class="container-fluid">
                <p class="text-right">&copy; {{currentYear}} Karl Sanford</p>
            </div>

        </div>
    </div>

	
	<script type="text/javascript" src="jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="controllers/contact-controller.js"></script>
    <script type="text/javascript" src="controllers/engage-controller.js"></script>
    <script type="text/javascript" src="controllers/blog-controller.js"></script>
    <script type="text/javascript" src="controllers/main-controller.js"></script>
    <script type="text/javascript" src="controllers/user-controller.js"></script>
    <script type="text/javascript" src="controllers/resume-controller.js"></script>

</body>
</html>