
<div class="container">

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="text-center black-box">
                <h1>Business <br> + <br> Technology <br> +  <br> Project Management</h1>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-6 col-md-offset-3">
           <h3>
                Very rarely are technologies issues 100% technology.
            </h3>
            <p>
                Buying a CRM application won’t get you more customers. Having a slick
                email client won’t make you more productive. Technology is merely a tool.
                Without proper fitness of purpose and training / motivation of users,
                it rarely lives up to the claims of its marketers.
            </p>
            <h3>
                Very rarely can business processes be optimized without technology.
            </h3>
            <p>
                What is an organization? At the basic level it is a collection of
                individuals working together toward roughly the same goal. Each
                one of these individual has a unique skillset which allows them
                to contribute value to the organization. In order to work together
                effectively, they need to be able to create, view, and share information.
                THIS is what technology is good at.
            </p>
            <h3>
                People are not committed to the ideals of other people for their own lives
            </h3>
            <p>
                Change is hard. Change sucks. Change requires me to take my brain of
                auto pilot. Whether they express it verbally or not, these are the
                feelings and emotions people have about change. Typically this is
                the hardest part of improvement and every organization is unique in
                how it should be handled. One size does not fit all.
            </p>
            <h3>
                What we need isn’t a perfect plan… What we need is perfect EXECUTION.
            </h3>
            <p>
                If we all had a nickel for every great idea we’ve had, we’d all be on a
                beach somewhere… Turning ideas into reality is not easy, sometimes
                it even seems impossible. Sometimes you don’t even know where to start,
                much less where to finish. You need to be able to have some sort of
                roadmap to guide your decision making, but no plan in the world has
                true value without implementation.
            </p>
            <h3>
                Conclusion
            </h3>
            <p>
                People, Process, Technology, and Implementation is the fundamental
                recipe and just like your grandma’s old family recipe, miss one thing
                and it just doesn’t work. If you agree with this approach and want to
                talk more, please give me a call or shoot me an email. My info can be
                found on the <a ui-sref="contact">contact page.</a>
            </p>
        </div>
    </div>


</div>

