<div class="container" ng-controller="engageController">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Engage</h2>
            <h4>{{message}}</h4>
            <form ng-submit="createEngagement()" ng-show="displayForm">
                <div class="form-group">
                    <label for="inputClientName">Name</label>
                    <input ng-model="clientName" type="text" class="form-control" id="inputClientName">
                </div>
                <div class="form-group">
                    <label for="inputClientCompany">Company</label>
                    <input ng-model="clientCompany" type="text" class="form-control" id="inputClientCompany">
                </div>
                <div class="form-group">
                    <label for="inputClientEmail">Email</label>
                    <input ng-model="clientEmail" type="email" class="form-control" id="inputClientEmail">
                </div>
                <div class="form-group">
                    <label for="inputClientMessage">What do you need help with?</label>
                    <textarea ng-model="clientMessage" row="10" type="text"  class="form-control" id="inputClientMessage"/>
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
            {{data}}
        </div>
    </div>
</div>