<div id="img-container">
    <img class="img-responsive" src="images/tools.jpg" alt="">
    <div class="floater">
        <div class="row">
            <h1>"We specialize is solving very complex multidisciplinary problems."</h1>
        </div>
        <div class="row">
            <a ui-sref="engage">
                <span class="button">Engage</span>
            </a>
            <a ui-sref="about">
                <span class="button">Learn</span>
            </a>
        </div>


    </div>
</div>

