<div class="container" id="resume" ng-controller="resumeController" ng-init="">

    <!--modal-->
    <div id="modalResumeWelcome" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">FYI</h4>
                </div>
                <div class="modal-body">
                    <p>This site was built with Angular, Express, Node, and MongoDB.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--end modal-->

<h1>{{title}}</h1>
    <div class="row">
        <div class="col-md-2">
            <img src="images/profile.jpg" class="img-responsive" alt="">
            <div class="top-buffer-10 text-center pull-left">
                <a target="_blank" href="https://www.linkedin.com/in/karlesanford">
                    <img src="images/In-Black-34px-R.png" alt="">
                </a>
                <a target="_blank" href="https://github.com/karlsanford">
                    <img src="images/GitHub-Mark-32px.png" alt="">
                </a>
                <a target="_blank" href="https://freecodecamp.com/karlsanford">
                    <img src="images/fcc32.png" alt="">
                </a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-md-2">
            <div class="row">
                <h3>Karl Sanford</h3>
                <p>
                    124 N Clinton Ave<br>
                    Dallas, TX 75208<br>
                    <a href="mailTo:karl@sanfordconsulting.com">karl@sanfordconsulting.com</a><br>
                    214.475.3587<br>
                </p>

            </div>
        </div>
        <div class="col-md-5 col-md-offset-3">
            <div ng-repeat="language in languages" class="skill-tag {{language.highlighted}}">{{language.skill}} <span class="badge">{{language.level}}</span> </div>

        </div>
    </div>


    <div class="row  top-buffer-50">
        <div class="col-md-4  col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Summary
                </div>
                <div class="panel-body">
                    <p>
                        Karl has a multidisciplinary skill-set with an emphasis around
                        technology-based problem solving and software development.
                    </p>
                    <p>
                        In his career, Karl has worked with everything from VBA to HTML but most
                        recently has been focused on  full-stack JavaScript web applications.
                    </p>
                </div>
            </div>
         </div>
        <div class="col-md-4  col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Skills
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Web Development</li>
                        <li>Database Modeling</li>
                        <li>UI / UX Design</li>
                        <li>ERP Design</li>
                        <li>SharePoint Development</li>
                        <li>Business Analytics</li>
                        <li>Data Analytics</li>
                        <li>Data Mapping</li>
                        <li>Project Management</li>
                        <li>Scheduling</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Languages &amp; Tools
                </div>
                <div ng-repeat="language in languages" class="skill-tag">{{language.skill}} <span class="badge">{{language.level}}</span> </div>

                <div class="clearfix"></div>
                <!--<div class="panel-body">
                    <ul class="pull-left">
                        <li>JavaScript</li>
                        <li>HTML / CSS</li>
                        <li>AngularJS</li>
                        <li>Node / Express</li>
                        <li>MongoDB</li>
                        <li>GIT</li>
                        <li>REST</li>
                        <li>oData</li>
                        <li>JSON</li>
                        <li>PHP</li>

                    </ul>
                    <ul class="pull-left">
                        <li>MS Excel</li>
                        <li>MS SQL</li>
                        <li>VBA</li>
                        <li>C#</li>
                        <li>XML</li>
                        <li>MS Office</li>
                        <li>MS Project</li>
                        <li>SharePoint</li>
                        <li>Visual Studio</li>
                        <li>Eclipse IDE</li>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2>Professional Experience</h2>
    </div>
    <div class="row">
       <h3><a target="_blank" href="http://sanfordconsulting.com">Sanford Consulting</a> (Nov 2014 - Present)</h3>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="project">
                <h4>Portfolio Page</h4>
                <p>
                    This was an educational project done as part of FreeCodeCamp.com exercises.
                    It has links to six other small projects completed during the front end certification.
                </p>
                <p>
                    <a target="_blank" href="http://codepen.io/karlsanford/full/XdapQg">Link to Page</a>
                </p>
             </div>
            <div class="project">
                <h4>Business Website Development (Mar 2016)</h4>
                <p>
                    Built full-stack website for my consulting business.
                    The site features a contact form, engagement form,
                    simple blog, and a user framework to support future enhancements.
                </p>
                <p>
                    Its a mean stack app with a persistent backend and client side routing (SPA)
                    .</p>
                <p>
                    Technologies: JavaScript, Angular 1.x, HTML, CSS, MongoDB, Node.js,
                    Express.js, Inkscape, WebStorm, git, github, Digital Ocean, Bootstrap,
                    passport.js
                </p>
            </div>
            <div class="project">
                <h4>Conceptual Design of Commercial Building (Jan 2016 - Present)</h4>
                <p>
                    The project was to create a conceptual design inline with the owner's
                    design taste and coordinate that design with the Architect and Structural Engineer.
                </p>
                <p>
                    Technologies: SketchUp, Layout
                </p>
                <img class="img-responsive" src="images/NWelevation4.jpg" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="project">
                <h4>Clothing Brand Technology Architecture and POC</h4>
                <p>
                    Worked with a local custom clothier to architect an ecommerce site,
                    accounting software, payment integration, appointment management, contact management,
                    and sales order integration.
                </p>
            </div>
             <div class="project">
                <h4>WooCommerce / Net Suite Integration (Jan-Feb 2015)</h4>
                <p>Used JavaScript, PHP, and HTML to fix custom sales order integration between
                    WooCommerce and NetSuite </p>
                <p>This project also involved site administration such as managing product categories,
                    product attributes, inventory levels, product adds and deletion</p>
                <p>Technologies: PHP, JavaScript, HTML, NetSuite, http WebServices</p>
            </div>
            <div class="project">
                <h4>Full Design of Residential Remodel (Jan 2016 - Present)</h4>
                <p>
                    Work with the owner to redesign existing structure and addition. Project
                    also includes ongoing support and consulting on construction management
                    procedures.
                </p>
                <p>
                    Technologies: SketchUp, Layout
                </p>
                <img src="images/clinton319.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="row">
        <h3><a target="_blank" href="http://www.gdt.com">General Datatech</a> (Feb 2009 - Nov 2014)</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="project">
                <h4>SAP Implementation (Nov 2013 - Nov 2014)</h4>
                <p>
                    Co-Sponsored SAP greenfield deployment with CIO. Duties included hardware
                    design, Blueprint, and Realization and development of a custom responsive
                    web-based sales application.
                </p>
                <p>
                    Within this project I provided oversight to the implementation consults to overall
                    design and company wide business processes, coordinated with EDI trading partners
                    for cutovers, built a web based cXML "punch out" integration with Cisco Commerce Workspace, built a custom
                    excel import module for importing and parsing orders from spreadsheets, and built oData
                    Webservices in SAP backend to support Sales Order Application.
                </p>
                <p>
                    Technologies: HTML, JavaScript, SAP UI5, HANA, HANA XS, ABAP, Eclipse IDE,
                    oData, RESTful Webservices, cXML
                </p>
            </div>

        <!--</div>
        <div class="col-md-6">-->
            <div class="project">
                <h4>Cisco EDI (Jan 2013 - Dec 2013)</h4>
                <p>
                    Architected and Managed complex Electronic Data Interchange efforts
                    with a Fortune 100 company and integration with Dynamics SL.
                </p>
                <p>
                    Project included coordinating multiple application owners to send, receive,
                    process, and integrate multiple business documents.
                    Challenges included working with highly customized business processes on both
                    sides and integrating into a Dynamics SL ERP without use of native APIs.
                </p>
                <p>
                    Technologies included BizTalk, C#, HTML, XAML, XML, XSLT and SQL.
                </p>
            </div>

        </div>
    <!--</div>
    <div class="row">-->
        <div class="col-md-6">
            <div class="project">
                <h4>Customer EDI (Jan 2013 - Aug 2013)</h4>
                <p>
                    Architected and Managed complex Electronic Data Interchange efforts
                    with multiple fortune 500 companies and integration with Dynamics SL.
                </p>
                <p>
                    Project included coordinating multiple application owners to send, receive,
                    process, and integrate multiple business documents.
                    Challenges included working with highly customized business processes on both
                    sides and integrating into a Dynamics SL ERP without use of native APIs.
                </p>
                <p>
                    Technologies included ANSI-X12, C#, HTML, XAML, XML, XSLT and SQL.
                </p>
            </div>

        <!--</div>
        <div class="col-md-6">-->
            <div class="project">
                <h4>GoldOps (Dec 2010 - Nov 2014)</h4>
                <p>Designed, developed, and supported custom web based SharePoint application
                    for 250+ users implementing over $75 million in annual service
                    engagements. This application manages data, documents, and
                    workflow related to Customers, Customer Contacts, Projects,
                    Requests for Quotes, and over 50 other business data objects.

                </p>
                <p>
                    Project included documenting and developing standardized business
                    rules, information architecture planning, design documentation
                    development, support documentation development, end user testing,
                    managing cutovers from legacy systems, and end user training.

                </p>
                <p>
                    Technologies: HTML, ASPX, XSLT, JavaScript, Web Services, C#,
                    SharePoint Designer and Visual Studio.
                </p>
            </div>

        </div>
    </div>
    <div class="row">
        <h3><a target="_blank" href="http://www.amli.com">AMLI Residential</a> (Mar 2007 - Nov 2008)</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="project">
                <h4>Fossil Lake (Mar 2007 - Sep 2008)</h4>
                <p>
                    A $25 million, 300 unit multifamily development in north Fort Worth
                </p>
                <p>
                    Responsibilities included subcontractor negotiation and contracting, scheduling,
                    hiring, project management, financial management, and overall project success. The
                    was approximately 20 months in duration.
                </p>
            </div>

        </div>
        <div class="col-md-6">
            <div class="project">
                <h4>La Villita (May 2008 - Aug 2008)</h4>
                <p>
                    A $27 million, 305 unit multifamily development in Las Colinas
                </p>
                <p>
                    Responsibility was to take over project from another Project Manager and correct
                    and complete the project.
                </p>
            </div>
        </div>

    </div>
    <hr>
    <div class="row">
        <h2>Education</h2>
        <ul>
            <li>Front End Development Certification - FreeCodeCamp.com - (275/400 hours)</li>
            <li>B.S. Construction Science - Texas A&M University (2005)</li>
        </ul>
    </div>
    <hr>
    <div class="row">
        <h2>References</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Position</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>JW Roberts</td>
                    <td>GDT (General Datatech)</td>
                    <td>Owner and President</td>
                    <td>214-857-6100</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>Karl Houston</td>
                    <td>GDT (General Datatech)</td>
                    <td>Director of Services</td>
                    <td>469-556-0310</td>
                    <td>khouston@gdt.com</td>
                </tr>
                <tr>
                    <td>Stuary Cary</td>
                    <td>GDT (General Datatech)</td>
                    <td>Director of HR</td>
                    <td>214-564-8518</td>
                    <td>scary@gdt.com</td>
                </tr>
                <tr>
                    <td>Taylor Bowen</td>
                    <td>AMLI Residential</td>
                    <td>Executive VP</td>
                    <td>214-869-5406</td>
                    <td>tbowen@gdt.com</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row top-buffer-50"></div>
</div>