<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
    <link rel="apple-touch-icon" sizes="57x57" href="icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icon/favicon-16x16.png">
    <link rel="manifest" href="icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body ng-app="hweApp">
	<div ng-controller="homeController">
		<h1>Hello from index.html</h1>
		<h1>{{message}}</h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Item</th>
					<th>ID</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="meetup in meetups">
					<td>
						{{meetup.name}}
					</td>
					<td>
						{{meetup._id}}
					</td>
				</tr>
			</tbody>


		</table>

		<form ng-submit="createMeetup()">
			<input type="text" ng-model="meetupName"></input>
			<button type="submit">add</button>
		</form>


	</div>
	
	<script type="text/javascript" src="jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="angular/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="controllers/home-controller.js"></script>
</body>
</html>