<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app="hweApp">
	<div ng-controller="homeController">
		<h1>Hello from index.html</h1>
		<h1>{{message}}</h1>
	</div>
	
	<script type="text/javascript" src="jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="angular/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="controllers/home-controller.js"></script>
</body>
</html>